/* div {
    text-align: center;
    margin-top: 50px;
  }
   */
  input {
    padding: 10px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  